body {
    font-family: 'Times New Roman', Times, serif;
    background-color: darkgray;
}

.name{
    position: absolute;
    top: 10%;
    left: 10%;
}

.information{
    color: white;
    background-color: black;
    width: 350px;
    padding: 20px;
    position: absolute;
    bottom: 10%;
    right: 10%;
}